@font-face {
  font-family: 'Montserrat';
  font-style: auto;
  font-weight: 600;
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: auto;
  font-weight: 700;
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}


@font-face {
  font-family: 'Druk';
  font-style: auto;
  font-weight: 700;
  src: url('../assets/fonts/Druk Wide Bold.otf');
}

@font-face {
  font-family: 'Druk';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/Druk Bold Italic.otf');
}
